
html{
  background-color: #F4F4F4;
  font-size: 62.5%;
}

p{
  font-size: 15px;
}

li{
  list-style: none;
}


/* Header */
.button {
  display       : inline-block;
  border-radius : 5%;          
  font-size     : 14pt;        
  text-align    : center;      
  cursor        : pointer;     
  padding       : 12px 13px;   
  background    : #000066;     
  color         : #ffffff;     
  line-height   : 0.5em;         
  transition    : .3s;         
  border        : 2px solid #000066;    
  margin-left: 10px;
}
.button:hover {
  color         : #000066;     
  background    : #ffffff;     
}
.headerList{
  text-align: right;
  padding: 20px;
}

/* Main */

.titleInput{
  position: relative;
	width: 80%;
	margin: 3%;
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.labelTitleInput input[type='text']:focus {
	border-bottom: 2px solid #000066;
	outline: none;
}

.deadline{
  text-align: center;
}
.DatePicker{
  display: inline-block;
  
}

/* ItemList */
p{
  display: inline-block;
}
.ItemList{
  display: flex;
  justify-content: space-between;
  margin: 5% 15% 0 15%;
}
.CheckList ul{
  padding: 0;
}
.MemoList input{
  height: 30vh;
  width: 30vh;
}

/* SaveBtn */
.SaveBtn{
  display       : inline-block;
  border-radius : 5%;          
  font-size     : 14pt;           
  cursor        : pointer;     
  padding       : 12px 13px;   
  background    : #000066;     
  color         : #ffffff;     
  line-height   : 0.5em;         
  transition    : .3s;         
  border        : 2px solid #000066;    
  margin-left: 10px;
}
.SaveBtn:hover{
  color         : #000066;     
  background    : #ffffff; 
}
.SaveBtnContainer{
  text-align: right;
  padding-right: 40px;
}