@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Sans&family=PT+Serif&family=Roboto&display=swap");

html {
  background-color: #ffffff;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.4rem;
}

li {
  list-style: none;
}

h2 {
  margin-bottom: 2vh;
}

:root {
  --font--size--h1: 2.4rem;
  --font--size--h2: 1.8rem;
  --font--size--p: 1.4rem;
  --cl--back: #f4f4f4;
  --cl--blue: #000066;
  --cl--gray: #e8e7e7;
  --cl--lightblue: #a4a4e5;
}

.checkList ul {
  padding: 0;
}

.checkList label {
  display: inline-block;
}
.url {
  width: 50%;
}
.url textarea {
  height: 25vh;
  width: 100%;
  background-color: var(--cl--gray);
  padding: 2vh;
}
.checkListInput {
  display: inline-block;
}
.checkListInput input {
  font-size: var(--font--size--p);
  box-sizing: border-box;
  padding: 0.5vh;
  transition: 0.3s;
  letter-spacing: 1px;
  background-color: var(--cl--gray);
  width: 100%;
  margin-left: 2vh;
  height: 22px;
}

.checkListInput input[type="text"]:focus {
  border-bottom: 2px solid #000066;
  outline: none;
}

label,
span {
  margin: 0 1vh;
  font-size: var(--font--size--p);
}

/* responsive */
@media screen and (max-width: 1040px) {
  .checkListInput {
    margin-bottom: 1vh;
    width: 100%;
  }
  .checkListInput input {
    margin-left: 0;
  }
  .SaveBtnContainer {
    margin-top: 0;
  }
  .deadline {
    margin-top: 0;
    display: block;
  }
}

@media screen and (max-width: 740px) {
  .checkListInput input {
    margin-right: 0;
  }
  .checkListItem {
    display: flex;
    margin-bottom: 0.1vh;
  }

  .url {
    width: 100%;
    margin-bottom: 1vh;
  }
  .url textarea {
    height: 10vh;
  }
  .titleInput {
    margin-bottom: 0;
  }
}
