@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=PT+Sans&family=PT+Serif&family=Roboto&display=swap");

html {
  background-color: #ffffff;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.4rem;
}

li {
  list-style: none;
}

h2 {
  margin-bottom: 2vh;
}

:root {
  --font--size--h1: 2.4rem;
  --font--size--h2: 1.8rem;
  --font--size--p: 1.4rem;
  --cl--back: #f4f4f4;
  --cl--blue: #000066;
  --cl--gray: #e8e7e7;
  --cl--lightblue: #a4a4e5;
}

label,
span {
  margin: 0 1vh;
  font-size: var(--font--size--p);
}
